*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    /* background: #131417; */
    color: #fff;
    overflow-x: hidden;
}
.page1{
    /* background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80); */
    background-size: cover;
    background-position: center;
    background-color: #131417;
    width: 100%;
    height: 100vh;
}
.logo{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    color: #868CA0;
}

nav{
    width: 65%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
nav span{
    border-radius: 5px;
    margin-left: 2vmax;
    width: 70%;
    height: 65%;
    background-color: #252830;
    display: flex;
    align-items: center;
}
nav span>h1{
    margin-left: 1vmax;

}
nav button{
    width: 11vmax;
    height: 65%;
    border-radius: 5px;
    border: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
   background-image: linear-gradient(#80ED99,#57CC99,#38A3A5);
   /* color: black; */
   /* color: white; */
   font-weight: 600;
   letter-spacing: 0.4vmax;

}
nav button>a{
    text-decoration: none;
    color: #131417;
}


.contentBox{
    display: flex;
    width: 100%;
    height: 100%;
}



.contentDiv{
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.8vmax;
    
}
.mainHead{
   font-size: 3vmax; 
   width: 90%;
   text-align: center;
   color: rgb(130, 126, 126);
   font-weight: 700;
   font-family: 'Encode Sans SC', sans-serif;
   word-spacing: -0.3vmax;


}
.mainHead-h2{
    font-size: 2vmax;
    font-weight: 900;
    font-family: 'Great Vibes', cursive;
    
    
    
}
.mainBtn{
    /* box-shadow: 2px 2px 7px #138755; */
 width: 32vmax;
 background-color: #131417;
    height: 1.7vmax;
    border-radius: 5px;
    color: #57CC99;
    border: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
   /* background-image: linear-gradient(#80ED99,#57CC99,#38A3A5); */
   /* color: black; */
   /* color: white; */
   font-weight: 900;
   letter-spacing: 0.4vmax;

}
.mainBtn a{
    /* text-decoration: none; */
     color: #138755;
}
.span2{
    color: #80ED99;

}
.mainHead-h2 span{
    /* color: #38A3A5; */

}


.contentDiv2{
    /* background-color: red; */
    width: 50%;
    height: 80%;
    background-image: url(https://a.fsdn.com/con/app/proj/codepen.s/screenshots/Captura%20de%20Pantalla%202021-01-29%20a%20la%28s%29%2015.17.55.png/max/max/1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ================================== page 1b start============================================= */


.page1b{
    width: 100%;
    height: 80vh;
 background-color: #131417;

}


.cardBox{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4vmax;
}
.cardBox2{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardBox2 h1{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    margin-bottom: 2vmax;
    font-size: 2vmax;
    letter-spacing: 0.2vmax;
/* font-family: 'Encode Sans SC', sans-serif; */
}
.cardBox2 h4{
    font-weight: 500;
    font-size: 0.9vmax;
    color: #76DAFF;
    margin-top: 0.8vmax;
    word-spacing: 0.1vmax;
    letter-spacing: 0.2vmax;
font-family: 'Encode Sans SC', sans-serif;
}
.card{
    width: 18%;
    height: 70%;
    scale: 0.9;
      background-color: #131417;
      /* border: 2px solid #138755; */
      transition: all ease 0.5s;

}
.card:hover{
    scale: 1.1;
}
.card1{
    background-image: url(assets/html5-3384039_1920-removebg-preview.png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: center;
}
.card2{
    background-image: url(assets/pngwing.com\ \(2\).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card3{
    background-image: url(assets/pngwing.com\ \(3\).png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;

}



/* =======================================page 2 start=================================== */
.page2{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    background-color: #131417;
}
.left, .right{
    flex-basis: 50%;
    padding: 10px;
}
textarea{
    width: 100%;
    height: 28%;
    background: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
}
iframe{
    width: 100%;
    height: 95%;
    color: black;
    /* background: #fff; */
    background-image: linear-gradient(#98dfa8,#a3dbc2,#87b0b1);

    border: 0;
    outline: 0;
}
label i{
    margin-right: 10px;
    margin-left: 10px;
}
label{
    display: flex;
    align-items: center;
     color: white;
     font-family: 'Encode Sans SC', sans-serif;
    height: 30px;
}
body::-webkit-scrollbar{

}

.green{
    color: #80ED99;
}
.blue{
    /* color: #38A3A5; */
    color: white;

}
.mid{
    /* color: #57CC99; */
    color: white;

}

/* =========================================== page 3 ========================================= */

.page3{
    width: 100%;
    height: 90vh;
      background-color: #131417;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.page3 h1{
    margin-right: 22vmax;
    width: 50%;
    font-size: 8vmax;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #D6FB41;
    line-height: 8.5vmax;
}
.page3 h2{
    margin-top: 2vmax;
    margin-right: 12vmax;
    font-weight: 300;
    font-size: 2vmax;
    width: 60%;
    font-family: 'Encode Sans SC', sans-serif;
   
}

/* ======================================= Footer ============================================= */

footer{
    width: 100%;
    height: 55vh;
    background-color: black;
    display: flex;
}
footer div{
    width: 50%;
    height: 100%;
}
.footerDiv1{
     font-family: 'Encode Sans SC', sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
    

}
.footerDiv1 div{
    height: 70%;
    width: 100%;
    
}
.footerDiv1 div>form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.emailspan{
    height: 7vmax;
    width: 100%;
   padding-left: 10vmax;
}
.emailspan>input{
    width: 17vmax;
    height: 25%;
    border-radius: 50px;
    background-color: #282937;
    border: none;
    padding:1.5vmax 5vmax;
    margin-top: 1vmax;
}
.emailspan button{
    width: 5vmax;
    background-color: #38A3A5;
    color: white;
    border: none;
    height: 47%;
    border-radius: 50px;
    margin-right: 10vmax;
}
.copyright{
    color: #93939A;
    margin-bottom: 2vmax;
}
.logoSpan{
    display: flex;
    height: 30%;
    width: 100%;
    margin-left: 4vmax;
    align-items: center;
    justify-content: start;
}
.footerDiv2{
}
.footerDiv2 div{
    width: 100%;
    height: 50%;
}
.handlesDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12vmax;
    padding-top: 5vmax;
}
.handlesDiv i{
font-size: 2.2vmax;
}
.footerOptions{
    padding-top: 8vmax;
}
.footerOptions ul{
list-style: none;
display: flex;
justify-content: space-around;
align-items: end;
padding:  0 5vmax;
font-family: 'Encode Sans SC', sans-serif;
}
.footerOptions ul>li{
    font-size: 1.5vmax;
}

/* ====================================== Responsive Properties =================================  */

@media (max-width:600px){
   nav{
    width: 100%;
    height: 10%;
    padding:0 2vmax;
}
nav span{
    width: 70%;
    height: 55%;
  
}
nav button{
    width: 10vmax;
    height: 55%;  
}
.page1{
    height: 95vh;
    border: none;
}
.contentBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    margin-top: 3vmax;
    /* background-color: red; */
}
.contentDiv{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.8vmax;
    
}
.contentDiv2{
    /* background-color: red; */
    width: 100%;
    height: 50%;
}
.mainBtn{
    scale: 1.3;
}
.page1b{
    width: 100%;
    height: 60vh;

}
.cardBox{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 4vmax;
}
.card{
    width: 50%;
    height: 35%;
    scale: 0.9;
      background-color: #131417;
      /* border: 2px solid #138755; */
      transition: all ease 0.5s;
      margin-top: 1vmax;

}
.cardBox2{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardBox2 h1{
    font-weight: 500;
    font-size: 2.1vmax;
    letter-spacing: 0.2vmax;
    text-align: center;
}
.cardBox2 h4{
    font-weight: 500;
    font-size: 1.5vmax;
    color: #76DAFF;
    margin-top: 0.8vmax;
    word-spacing: 0.1vmax;
    letter-spacing: 0.2vmax;
font-family: 'Encode Sans SC', sans-serif;
}
.page2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
    width: 0.5vmax;
}

.page3{
    width: 100%;
    height: 50vh;
}
.page3 h1{
    width: 90%;
    font-size: 7vmax;
    text-align: center;
    margin-right: 0;
    /* line-height: 8.5vmax; */
}
.page3 h2{
    margin-top: 2vmax;
    margin-right: 0;
    text-align: center;
    font-weight: 300;
    font-size: 2vmax;
    width: 90%;
    font-family: 'Encode Sans SC', sans-serif;
   
}
footer{
    flex-direction: column;
}
footer div{
    width: 100%;
    height: 50%;
}
.footerDiv1{
    /* background-color: red; */
    gap: -10vmax;
    

}
.copyright{
    color: #93939A;
    margin-bottom: 0;
    font-size: 1.2vmax;
}
.emailspan{
    height: 9vmax;

}
.emailspan>input{
    width: 20vmax;
    height: 35%;
    padding:3vmax 7vmax;
}
.emailspan button{
    width: 5vmax;
    background-color: #38A3A5;
    border: none;
    height: 47%;
}

.footerDiv2 div{
    width: 100%;
    height: 35%;
}
.logoSpan{
   scale: 0.7;
    margin-left: -3vmax;
  
}
}